.app {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "marginTop"
    "top"
    "top"
    "mid"
    "mid"
    "mid"
    "mid"
    "mid"
    "mid"
    "mid"
    "bot"
    "bot"
    "margin-bot";
  margin: 0 auto;
  height: 100%;
  max-width: 1400px;
  align-items: center;
  padding: 0px 20px;
  &__title {
    margin: 0 auto;
    width: 100%;
    grid-area: top;
    text-align: left;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    &__text {
      color: hsl(0, 0%, 65%);
      font-size: 50px;
      font-weight: 500;
      display: flex;
      cursor: pointer;
      transition: color 0.5s ease;
      &:hover {
        color: hsl(51, 100%, 45%);
      }
    }
  }
  &__options {
    &__option,
    &__option--active {
      cursor: pointer;
    }
    &__option--active {
      color: hsl(51, 100%, 45%);
    }
  }
  &__middle {
    grid-area: mid;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
      font-size: clamp(15px, 5vw, 35px);
      color: hsl(0, 0%, 50%);
      font-family: "Roboto Mono", monospace;
      letter-spacing: 3px;
      transition: all 2s ease;
      overflow-wrap: break-word;
      &__outgoing {
        color: hsl(0, 0%, 80%);
      }
      &__current {
        background-color: hsla(0, 0%, 100%, 0.02);
        transition: background-color 0.5s ease;
        position: relative;
        border-bottom: 2px solid hsl(225, 31%, 74%);
        animation: blinker 2s ease infinite;
        @keyframes blinker {
          50% {
            border-color: transparent;
          }
        }
      }
      &__incoming {
        color: hsl(0, 0%, 50%);
      }
    }
  }
  &__bot {
    display: flex;
    flex-direction: column;
    grid-area: bot;
    align-items: center;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 3rem;
      width: 90px;
      height: 50px;
      &:focus {
        background-color: hsl(216, 5%, 30%);
        border-radius: 3px;
        outline: none;
      }
    }
    &__info {
      font-weight: 300;
      margin-top: 10px;
      color: hsl(216, 5%, 40%);
      text-align: center;
    }
  }
}
