.app {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "marginTop"
    "top"
    "top"
    "mid"
    "mid"
    "mid"
    "mid"
    "mid"
    "mid"
    "mid"
    "bot"
    "bot"
    "margin-bot";
  margin: 0 auto;
  width: clamp(300px, 100%, 1000px);
  height: 100%;
  &__title {
    grid-area: top;
    text-align: left;
    padding-top: 15px;
    display: flex;
    &__text {
      color: hsl(0, 0%, 65%);
      font-family: "Roboto Mono", monospace;
      font-size: 50px;
      font-weight: 500;
      display: flex;
      cursor: pointer;
      transition: color 0.5s ease;
      &:hover {
        color: hsl(51, 100%, 45%);
      }
    }
  }
  &__middle {
    grid-area: mid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    &__text {
      font-size: 35px;
      color: hsl(0, 0%, 50%);
      font-family: "Roboto Mono", monospace;
      letter-spacing: 3px;
      transition: all 2s ease;
      word-break: break-word;
      word-wrap: nowrap;
      &__outgoing {
        color: hsl(0, 0%, 80%);
      }
      &__current {
        background-color: hsla(0, 0%, 100%, 0.02);
        transition: background-color 0.5s ease;
        position: relative;
        border-bottom: 2px solid hsl(225, 31%, 74%);
        animation: blinker 2s ease infinite;
        @keyframes blinker {
          50% {
            border-color: transparent;
          }
        }
      }
      &__incoming {
        color: hsl(0, 0%, 50%);
      }
    }
  }
}
